# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Binary folders
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Log Files
*.log
*.tlog
*.lastbuildstate

# Other
*.opensdf
*.ilk
*.pdb
*.idb
*.res


